html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overscroll-behavior: contain;
}

body {
  background-color: #ef3e3e;
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Happy Monkey", system-ui;
  font-size: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.rules {
  background: rgb(34, 34, 34);
  border-radius: 16px;
  padding: 20px;
  max-width: 90%;
  text-align: center;
}

.rules button {
  padding: 10px 20px;
  border: none;
  color: #2981ca;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.pokemon-go {
  width: 100%;
}

#map {
  height: 100vh;
}

.buttons {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#geolocation,
#sound,
#computer {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #2981ca;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

.buttons img {
  width: 100%;
}

#popup-menu,
#bag-menu {
  display: flex;
  min-width: 170px;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

#popup-menu #bag,
#bag-menu img {
  position: relative;
  width: 45px;
  cursor: pointer;
}

#bag-menu div {
  position: relative;
}

#bag-menu #pokeball-nb,
#bag-menu #superball-nb,
#bag-menu #hyperball-nb {
  position: absolute;
  margin: 0;
  padding: 0.125rem 0.5rem;
  bottom: 0;
  left: 25px;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

#popup-menu #owned {
  width: 25px;
  cursor: pointer;
}

#pokedex-release,
#pokedex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  height: 90%;
  border-radius: 10px;
  color: #2981ca;
  background-color: rgba(255, 120, 120, 0.9);
  padding: 0.7rem;
}

#pokedex-release {
  z-index: 1200;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#capture {
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 30px;
  bottom: 30px;
  width: 20%;
  border-radius: 10px;
  color: #2981ca;
  background-color: rgba(255, 120, 120, 0.9);
  padding: 0.7rem;
}

.pokedex-hidden,
.capture-hidden,
.pokedex-release-hidden,
.bag-hidden,
.menu-hidden,
.computer-hidden {
  display: none !important;
}

#capture-close,
#pokedex-close,
#close-computer {
  height: 40px;
  cursor: pointer;
}

#pokedex-detail,
#capture-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.catch {
  text-align: center;
}

.pokedex-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  display: flex;
  height: 150px;
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type {
  height: 2.5rem;
}

#pokedex-evolution,
#capture-evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
  max-height: 210px;
  overflow: auto;
  gap: 0.25rem;
}

.pokemon {
  background-color: #292929;
  height: 100%;
  width: 230px;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem;
}

.evolDetail {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

#release {
  color: white;
  width: max-content;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
  padding: 5px;
  background-color: rgba(40, 230, 40, 0.5);
  border-radius: 20px;
}

#pokedex-release-message {
  color: white;
  text-align: center;
}

strong {
  color: #2981ca;
}

.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#pokedex-release-yes,
#pokedex-release-no {
  border-radius: 20px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#pokedex-release-yes {
  background-color: rgba(40, 230, 40, 0.5);
}

#pokedex-release-no {
  background-color: rgba(255, 0, 0, 0.5);
}

.pokemon p:nth-child(2) {
  flex: 1;
}

.pokemon img {
  height: 3rem;
}

.connexion-hide {
  display: none !important;
}

#connexion {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

#connexion .form {
  width: 30%;
  padding: 30px;
  border-radius: 30px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#connexion .form p {
  text-align: center;
}

#connexion .form img {
  border-radius: 20px;
  width: 100%;
}

#computer-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  color: #2981ca;
  background-color: rgba(255, 120, 120, 0.9);
  padding: 0.7px;
}

#computer-popup .message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.computer-head {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: rgb(255, 100, 100);
  position: sticky;
  top: 0;
}

.computer-head h2 {
  margin: auto;
  padding-right: 40px;
}

#captured-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
  padding: 1rem;
}

.captured-pokemon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #292929;
  border-radius: 10px;
  padding: 0.3rem;
  gap: 10px;
  cursor: pointer;
}

.captured-pokemon p {
  font-size: 13px;
}

.captured-pokemon img {
  height: 2.2rem;
}

#escape-popup {
  color: #2981ca;
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 0;
  right: 0;
}

#escape-popup h2 {
  background-color: rgba(255, 120, 120, 0.9);
  padding: 1rem;
  margin: auto;
  width: fit-content;
  justify-self: center;
}

.escape-hidden {
  display: none;
}

@media screen and (max-width: 810px) {
  #connexion .form {
    height: 25%;
    width: 40%;
    padding: 25px;
  }

  #user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #user-form p {
    font-size: 10px;
  }

  #user-form input {
    width: 66%;
  }

  #capture {
    right: 60px;
    left: 60px;
    bottom: unset;
    width: auto;
  }

  #capture-close {
    display: none;
  }

  #capture .pokeDetail {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  #capture .number {
    display: none;
  }

  #capture-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #capture .picture {
    height: 80px;
  }

  #capture-evolution {
    display: none;
  }

  #capture .pokemon {
    flex-direction: row;
    justify-content: center;
    min-width: 40%;
    gap: 1rem;
  }

  .pokeDetail .picture {
    height: 70px;
  }

  .types {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 580px) {
  #capture-detail {
    display: flex;
    flex-direction: column;
  }

  #capture .types {
    display: none;
  }
}
